@import url("colors.css");

main {
  flex: 1;
  padding: 20px;
}
body {
  margin: 0;
}
.Introduction {
  justify-content: center;
  width: 100%;
}
#Introduction p {
  text-align: left;
  font-size: 18px;
  color: var(--text);
}
